{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "prettier/prettier": "error"
    }
}